@import "Roboto/roboto.css" screen; 

body {
    background-color:#d1e4ff;
}
.content table {
    background-color:#fff;  
    padding-left:30px; 
    padding-right:30px; 
}

.content h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto';
    font-weight: bold;
    font-style: normal;
    text-align:Left;
        color:#252525;        
    }
    .content p {
        font-family: 'Roboto';
        font-weight: normal;
        font-style: normal;
        color:#252525;
    } 
.content small {
    background-color: #f0e6d6;
    padding: 0 4px;
}  
.content a {
    color:#5299e9;
}
.content sup, sub {
    font-size: 10px
}
.content kbd {
    background-color: #eadcea;
    padding: 0 4px;
   }
.content samp {
    background-color:#eadcdc;
    padding: 0 4px;
}
.content blockquote {
background-color: #eadcea;
margin-left:0px;
margin-right: 0px;
padding-left:34px;
border-left-color: #b496b4; /* Цвет линии слева */
    border-left-style: solid; /* Стиль линии */
    border-left-width: 4px; /* Толщина линии */
}
.content pre {
background-color:#f0e6d6;   
}
.content dt {
    font-family: 'Roboto';
    font-weight: bold;
    font-style: italic;
font-size:12px;
}
.content dd {
    font-family: 'Roboto';
    font-weight: normal;
    font-style: normal;
font-size:12px;
}
.content1 table{
    font-family: 'Roboto';   
    font-weight: normal;
    font-style: normal;
    border-collapse: collapse;
    border-color: #b496b4;
    line-height: 29px;
    font-size: 12px;
} 
.content1 caption { 
    font-family: 'Roboto';
    font-size: 26px;
    font-weight: bold;
    font-style: normal;
    text-align: left;
    line-height: 50px;
}
.content1 th {    
background-color: #eadcea; 
font-weight: normal;
font-style: normal;
}
.content1 td {
padding-left: 10px;
}
